<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/072d5ab0-7996-4f56-b023-e82bd82738a0/resourcegroups/mattstuff/providers/Microsoft.Web/sites/Vidly20180427085944</ResourceId>
    <ResourceGroup>mattstuff</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vidly20180427085944.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vidly20180427085944.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Vidly20180427085944</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Vidly20180427085944</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:vidly20180427085944dbserver.database.windows.net,1433;Initial Catalog=Vidly;Persist Security Info=True;User ID=vidlyadmin@vidly20180427085944dbserver;Password=MUT3tgj#s2" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Vidly.Models.ApplicationDbContext, Vidly" MigrationConfiguration="Vidly.Migrations.Configuration, Vidly" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vidly20180427085944dbserver.database.windows.net,1433;Initial Catalog=Vidly;Persist Security Info=True;User ID=vidlyadmin@vidly20180427085944dbserver;Password=MUT3tgj#s2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>