<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="developmentMode" value="false" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>

    <add key="FacebookAppId" value="1956294987775659" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FacebookSecret" value="16ac850850c62f9df2e194573bd780c6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GoogleAppId" value="153710436462-odgd76tkivm94hdenj2iui7r16jn6jhg.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GoogleSecret" value="txpeH9OQLvgBKM5VF48hzrJT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <glimpse defaultRuntimePolicy="Off" xdt:Transform="SetAttributes(defaultRuntimePolicy)"/>

</configuration>
